<section class="bottom-bar">
	<div class="contact-links">
		<button onclick="open_window('linkedin');"> 
			LinkedIn <img style="filter:invert(100%);" 
			src="img/linkedinlogo.png"> </button>
		<button onclick="open_window('github')"> 
			Github <img style="filter:brightness(0%);" 
			src="img/githublogo.png"> </button>
		<button onclick="open_window('lastfm')">
			LastFM <img src="img/lastfmlogo.png"> </button>
		<button onclick="open_window('spotify')"> 
			Spotify <img style="filter:invert(100%)" src="img/spotifylogo.png"> </button>
		<button onclick="open_window('facebook')"> 
			Facebook <img src="img/facebooklogo.png"> </button>
	</div>
	<div>
	</div>
</section>
