<section class="top-bar">
	<div class="language-select">
		<button>English</button>
		<button>한국어</button>
		<button>漢語</button>
	</div>
	<div>
		<h1>Jacek Chrost</h1>
	</div>
	<div>
	</div>
	<div>	
		<button>Projects</button>
		<button>About</button>
		<button>Skills</button>
		<button>Education</button>
	</div>
</section>
