<html>
	<head>
		<link href="css/mstyles.css" rel="stylesheet">
		<script src="js/scripts.js"></script>
		<title> JACEK CHROST </title>
	</head>
	<body>
		<main>
			<%- include('../partials/topbar'); %>
			<section class="border">
				<div class="main-content">
					<div class="projects-div">
					</div>
				</div>
			</section>
			<%- include('../partials/bottombar'); %>
		</main>
		<div class="img-border">
			<img src="img/bgc.JPG" class="mainbg">
		</div>
	</body>
</html>
