<html>
	<head>
		<link href="static/css/mstyles.css" rel="stylesheet">
		<script src="static/js/scripts.js"></script>
		<title> JACEK CHROST </title>
	</head>
	<body>
		<main>
			<%- include('../partials/topbar'); %>
			<section class="border">
				<div class="main-content">
					<div class="projects-div">
					</div>
				</div>
			</section>
			<section class="bottom-bar">
				<div class="contact-links">
					<button> LinkedIN </button>
					<button> LastFM </button>
					<button> Spotify </button>
					<button> Facebook </button>
				</div>
				<div>
				</div>
			</section>
		</main>
		<div class="img-border">
			<img src="./static/img/bgc.JPG" class="mainbg">
		</div>
	</body>
</html>
